/* Estilos generales */
body{
    color: #4d4d4f;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

p, li, a, small {
    font-family: 'Lato', sans-serif;
}

/* Tamaño textos */

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.75em;
}

p{
    font-size: 1.5rem;
}

/* Navbar */

.navbar-academia {
    background-color: #FF658D;
    color: hsla(0, 100%, 100%, 0.52);
}
.icon-bar {
    background-color: #ffffff;
}

.navbar-brand img {
    max-width: 80px;
}

.navbar-nav > li > a{
    color: #fff;
    text-shadow: none;
}
.nav > li > a:hover {
    background-color: initial;
    color: hsla(0, 0%, 100%, .5);
}
.nav > li > a:focus {
    background-color: #ffffff;
    color: #FF658D;
}


.navbar {
    margin-bottom: 0;
}

/* Header */
.header_academia {
    text-align: center;
    height: 700px;
    padding-top: 250px;
    background-color: #f3f3f3;
    background-image: url('/img/fondo.jpg');
    margin-bottom: 30px;
}

.swiper-container {
    width: 100%;
    height: 500px;
}

.header_academia h1 {
    color: #FF658D;
    font-size: 5em;
    font-weight: 900;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 80px;
}
.header_academia h3 {
    color: #FF658D;
    font-family: 'Raleway', sans-serif;
}

/* cuadros */
.cuadro{
    background-color: #da0080;
    height: 160px;
    text-align: center;
    padding: 40px 0 0 0;
}
.cuadro_centro{
    background-color: #ba007c;
    margin: -10px 0 0 0;
    height: 180px;
    text-align: center;
    padding: 50px 0 0 0;
}
.cuadro a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}
.cuadro_centro a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}
/* cursos */
.cursos h2{
    text-align: center;
    padding: 60px 0 30px 0;
}
.thumbnail {
    border: 0;
    -webkit-box-shadow: initial;
    padding: 0;
}
.caption{
    padding: 15px 0 20px 10px;
}
.svg-inline--fa  {
    color: #888888;
    font-size: 18px;
    display: inline-block;
}

.caption h4{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-size: 1.7em;
    padding-bottom: 10px;
}

.card {
    position: relative;
    display: block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.11);
    width: 100%;
    margin-bottom: 20px;
}

.card.with-media .date {
    display: block;
    background-color: #f3f3f3;
    padding: 15px 0 8px 20px;
    font-size: 1.2em;
    position: absolute;
    margin-top: -10px;
    width: 100%;
}
.card.with-media .title {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    font-size: 1.2em;
    padding: 25px 20px 10px 20px;
    text-transform: uppercase;
    text-align: left;
    color: #4d4d4f;
    margin-top: 30px;
}
.card.with-media .title h4{
    display: inline-block;
}
.card.with-media .footer {
    position: absolute;
    bottom: 0;
    padding: 15px 20px;
    width: 100%;
    border-top: 1px solid #f3f3f3;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}
.datos__inner p{
    display: inline-block;
    font-size: 1.1em;
    padding-left: 10px;
}
.datos{
    padding-left: 20px;
    height: 240px;
}
.tag{
    color: #FF658D;
    display: inline-block;
}
.tag_add{
    color: #FF658D;
    display: inline-block;
    font-size: 1.2em;
    padding-left: 12px;
    margin-bottom: 0;
}
.monitor p{
    padding-top: 8px;
    font-size: 1.2em;
    color: #FF658D;
}
.clase-button-cerrar{
    background-color: #ffffff;
    background-image: none;
    color: #666666;
    padding: 6px 12px;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    border: 1px solid #cccccc;
}
.clase-button{
    background-color: #FF658D;
    background-image: none;
    color: #fff;
    padding: 6px 12px;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
}
.clase-button:focus, .clase-button:hover {
    background-color: #FF89A7;
    background-position: 0 -15px;
    color: #ffffff;
}

/* actividades pasadas */
.actividades{
    text-align: center;
    padding: 20px 0 20px 0;
}
.actividades__inner_img{
    max-width: 279px;
    display: inline-block;
}

/* nosotros */
.nosotros{
    background-color: #FF658D;
    height: 20vh;
    text-align: center;
    color: #ffffff;
    padding-top: 30px;
    margin-top: 40px;
}
.resumen{
    font-size: 1.3em;
}
.nosotros__inner h3{
    padding-bottom: 15px;
    padding-top: 20px;
}
.nosotros__inner_monitor{
    display: inline-block;
    padding: 0 30px 0 0;
    text-align: center;
}
.nosotros__inner_monitor img{
    border-radius: 50%;
    max-width: 17vh;
}

/* contacto */
.contacto{
    padding: 10px 0 10px 0;
}
.info_contacto{
    margin: 30px 0 20px 0;
    color: #666666;
}
.info_contacto h4{
    padding: 20px 0 0 0;
}
.rrss{
    margin: 20px 0 10px 0;
}
.rrss a{
    padding: 0 10px 0 0;
}
footer{
    background-color: #e5e5e5;
    padding: 30px 0 0 0;
    margin-top: 40px;
}

/*pag galeria imágenes*/
.example-image {
    height: 21rem;
    border-radius: 4px;
    vertical-align: bottom;
    margin: 10px 5px 5px 5px;
}
.filtro {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray;
}


/*pag noticias*/
.recorte{
    height: 350px;
    overflow: hidden;
}
.articulo{
    border-bottom: 1px solid #cccccc;
    margin-top: 30px;
}
.articulo p{
    padding-bottom: 5px;
}
.vermas{
    color: #FF658D;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 15px;
    display: block;
}
.mas-contenido a{
    color:  #FF658D;
    border: 1px solid  #FF658D;
    text-align: center;
    padding: 10px;
    margin: 30px 0 60px 0;
}
.mas-contenido .mas_art:hover{
    color: #ffffff;
    background-color: #FF658D;
}
.mas-contenido{
    margin-top: 30px;
    margin-bottom: 60px
}
/*pag contacto*/
.header_articulo{
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 180px;
    margin-bottom: 20px;
}
.header_articulo h1{
    padding: 65px 0 0 0;
    color: #ffffff;
    text-align: left;
    font-weight: 400;
    font-size: 2.8em;
}
.titulo-formulario{
    padding-bottom: 30px;
}


@media (min-width: 992px) and (max-width: 1199px) {
    /*pag galeria de imagenes / img*/
    .example-image {
        height: 22rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /*pag galeria de imagenes / img*/
    .example-image {
        height: 17rem;
        margin: 5px 3px 5px 3px;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.625em;
    }

    h3 {
        font-size: 1.375em;
    }
    /*menu desplegable responsive*/
    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
        background-color: #ffffff;
    }
    .navbar-nav > li > a{
        color: #FF658D;
        border-top: 1px solid #ffe4eb;
    }
    .nav > li > a:hover{
        color: #FF658D;
    }
    .nav > li > a:focus {
        background-color: #f5f5f5;
    }
    /*pag inicio / header */
    .header_academia {
        height: 500px;
        padding-top: 100px;
        background-position: center;
    }

    .header_academia h1 {
        font-size: 3em;
        padding-bottom: 20px;
    }

    .header_academia p {
        padding: 1rem 4rem;
    }
    /*pag galeria de imagenes / img*/
    .example-image {
        width: 13rem;
        margin: 5px 5px 5px 5px;
        height: auto;
    }
    /*pag index quienes somos*/
    .nosotros {
        height: 16vh;
        padding-top: 13px;

    }
    .recorte {
        height: 180px;
        overflow: hidden;
    }
    /*pag contacto*/
    .header_articulo{
        height: 160px;
    }
    .header_articulo h1{
        font-size: 2.5em;
    }

}


/*slider*/

.swiper-container {
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    }
.swiper-slide {
      font-size: 18px;
      color:#4d4d4f;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 40px 60px;
    }
.parallax-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 130%;
      height: 100%;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
    }
.swiper-slide .title {
      font-size: 41px;
      font-weight: 300;
    }
.swiper-slide .subtitle {
      font-size: 21px;
    }
.swiper-slide .text {
      font-size: 14px;
      max-width: 400px;
      line-height: 1.3;
    }
